<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <h5>Lista de usuarios</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button [routerLink]="['/agregar-usuario']" class="btn btn-success">Agregar Usuario</button>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usuariosView">
                        <td>{{user.idusuario}}</td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.correo}}</td>
                        <td>
                            <div *ngIf="user.idusuario">
                                <button class="btn btn-warning" (click)="editarusuario(user.idusuario)">Editar</button>&nbsp;&nbsp;
                                <button class="btn btn-danger" (click)="eliminar(user.idusuario)">Eliminar</button>&nbsp;&nbsp;
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

